<section>
<h1>
{
    <WEB>
    font-weight: Raleway;
    colour: blue;
    font-size: 18;
    font-weight: 800;
</WEB>
<STUDIO> 
    font-weight: Raleway;
    colour:  black;
    font-size: 18;
    font-weight: 800;
    </STUDIO>
}
</h1>
</section>
<section>
<h2>
{
    font-family: Roboto
    Font-size: 16
    font-weight: 400
}
</h2>
</section>