h1<WEB
{
    font-family: Raleway;
    color: iris;
    font-size: 18;
    font-weight: 800;
    }
h1<STUDIO
{
font-family: Raleway;
color: navyblue; 
font-size: 18;
font-weight: 800;
}
    h2
{
font-family: Roboto;
    font-size: 16;
    font-weight: 500;
}
h3 
{
    font-family: Roboto;
        font-size: 16;
        font-weight: 400;
}
h4
{
font-family: Roboto;
color: iris
    font-size: 16;
    font-weight: 500;
}
a {
    text-decoration: none;
}