h1
{
    .web
    font-family: Raleway;
    color: var(--iris, #4D5AE5);
    font-size: 18;
    font-weight: 800;
    line-height: 116.667%;
    .studio
    font-family: Raleway;
        color: var(--navyblue, #2E2F42);
        font-size: 18;
        font-weight: 800;
        line-height: 116.667%;
    }
h2
{
font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: var(--navyblue, #2E2F42);
}
h3 
{
    line-height: 150%
    font-family: Roboto;
        font-size: 16;
        font-weight: 400;
}
h4
{
    line-height: 150%
font-family: Roboto;
color: iris
    font-size: 16;
    font-weight: 500;
}
a {
    text-decoration: none;
}